body {
    margin: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.titulo{
  text-align: center;
  margin-top: 5em;
}

/* Catálogo */
.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #ffffff;
}

.product-card {
  width: 30%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.product-card h3 {
  margin: 10px 0;
}

.product-card p {
  margin: 0 0 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color:rgb(17, 231, 17);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Responsividade */
@media (max-width: 768px) {
  .product-card {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .product-card {
    width: 100%;
  }
}



/*qualidades(index)*/
/* Estilos para a sidebar */
.sidebar {
  background-color:#4CAF50;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #000000;
}

.sidebar h2 {
  font-size: 1.5rem;
  color: #000000;
}

.sidebar img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Estilos para o conteúdo principal */
.content {
  
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
}

.content p {
  margin-top: 10px;
}

.content h2 {
  font-size: 2rem;
  color: #333;
  display: inline;
}

/* Responsividade: ajustes para telas menores */
@media (max-width: 768px) {
  .sidebar, .content {
      padding: 15px;
  }

.content {
  padding: 5px;
}
}

/*formulario*/
.linha-central {
  width: 80%; /* Define a largura da linha */
  height: 4px; /* Espessura da linha */
  background: linear-gradient(to right, #4CAF50, #2E7D32); /* Cor com gradiente */
  margin: 40px auto; /* Centraliza a linha */
  border-radius: 5px; /* Borda arredondada */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
}

/* Estilo do botão */
/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*voltar ao topo*/
body {
  font-family: Arial, sans-serif;
}